.profile-container {
  display: flex;

  @media screen and (max-width: 900px) {
    flex-direction: column;
  }

  .user-dashboard {
    position: fixed;
    top: 80px;
    left: 0;
    padding: 20px 0px;
    width: 250px;
    background: black;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 900px) {
      position: relative;
      top: 0;
      flex-direction: row;
      height: max-content;
      width: 100%;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 30px 20px;
    }

    @media screen and (max-width: 500px) {
      padding-left: 0px;
    }

    .user-info-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 900px) {
        flex-wrap: wrap;
      }

      .user-info {
        display: grid;
        place-items: center;
        margin-bottom: 20px;

        @media screen and (max-width: 900px) {
          width: max-content;
        }
        .user-img {
          margin-bottom: 20px;
        }
        input {
          width: 200px;
          font-size: 25px;
          border-radius: 10px;
          padding: 5px;
          text-align: center;

          @media screen and (max-width: 900px) {
            width: 150px;
            font-size: 20px;
          }
        }
        .username {
          width: max-content;
          font-size: 30px;
          font-weight: 700;
          position: relative;
          color: white;
          text-align: center;
          max-width: 210px;
          overflow-wrap: break-word;

          @media screen and (max-width: 900px) {
            font-size: 20px;
            max-width: 300px;
          }

          svg {
            position: absolute;
            font-size: 18px;
          }
        }
      }
    }

    .links {
      margin: auto;

      @media screen and (max-width: 900px) {
        margin-bottom: 20px;
        margin-right: 20px;
      }

      @media screen and (max-width: 600px) {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 60px;
      }

      a {
        .link {
          margin-top: 20px;
          padding: 10px 30px;
          border-top-left-radius: 60px;
          border-bottom-left-radius: 60px;
          width: 230px;
          margin-left: 20px;
          font-size: 19px;
          cursor: pointer;
          color: white;
          position: relative;

          @media screen and (max-width: 900px) {
            width: 150px;
            padding: 10px 20px;
            border-radius: 60px;
          }
        }

        &.active .link::before {
          content: "";
          position: absolute;
          top: -30px;
          right: 0;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          box-shadow: 15px 15px white;
          background: black;

          @media screen and (max-width: 900px) {
            display: none;
          }
        }

        &.active .link::after {
          content: "";
          position: absolute;
          bottom: -30px;
          right: 0;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          box-shadow: 15px -15px white;
          background: black;

          @media screen and (max-width: 900px) {
            display: none;
          }
        }

        &.active .link {
          background: white;
          color: black;
        }
      }
    }

    .btn {
      margin: auto;
      margin-bottom: 20px;
      width: max-content;
      height: max-content;
      padding: 10px 20px;
      background: white;
      color: black;
      font-weight: 600;
      font-size: 18px;
      border-radius: 10px;

      @media screen and (max-width: 900px) {
        margin: auto;
      }
    }
  }

  .right-container {
    margin-left: 250px;
    width: 100%;

    @media screen and (max-width: 900px) {
      margin-left: 0px;
    }

    .bookmarked-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      place-items: center;
      grid-gap: 20px;
      width: 100%;
      padding: 20px;

      @media screen and (max-width: 900px) {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      }
    }

    .liked-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      place-items: center;
      grid-gap: 20px;
      width: 100%;
      padding: 20px;
    }
  }
}
